<div class="row main-content">
  <aside class="col-md-3">
    <ul>
      <li>
        <div class="valign-center">
          <img src="/assets/img/ante.jpg" alt="" />
          <span>Ante Barić</span>
        </div>
      </li>
      <li>
        <div class="valign-center">
          <img src="/assets/img/sike.jpg" alt="" />
          <span>Sike</span>
        </div>
      </li>
      <li>
        <div class="valign-center">
          <img src="/assets/img/tomislav.jpg" alt="" />
          <span>Tomislav Čivčija</span>
        </div>
      </li>
    </ul>
  </aside>
  <section class="col-md-9">
    <app-chat></app-chat>
  </section>
</div>
