<div class="row main-content">
  <div *ngIf="isEditing" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <app-create (endEditing)="endEditing()"></app-create>
  </div>

  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <ul class="actions-container">
      <li *ngIf="!isEditing && !isDashboardDisabled">
        <button (click)="create()" type="button" [color]="'primary'" mat-raised-button>
          <mat-icon>add</mat-icon>
        </button>
      </li>
      <li>
      <li *ngIf="!isEditing && !isDashboardDisabled">
        <button (click)="refresh()" type="button" [color]="'primary'" mat-raised-button>
          <mat-icon>refresh</mat-icon>
        </button>
      </li>
    </ul>
  </div>

  <div class="clearfix" style="height: 20px"></div>

  <div style="margin-top: 20px" class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <ul class="filter-container">
      <li [ngClass]="{'selected': messageFilter}"
          (click)="messageFilter = !messageFilter">Messages</li>
      <li [ngClass]="{'selected': emailFilter}"
          (click)="emailFilter = !emailFilter">Emails</li>
      <li [ngClass]="{'selected': documentFilter}"
          (click)="documentFilter = !documentFilter">Documents</li>
      <li [ngClass]="{'selected': eventFilter}"
          (click)="eventFilter = !eventFilter">Events</li>
    </ul>
  </div>

  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <section *ngIf="pinnedNotifications.length > 0" class="pinned-notifications-container">
      <h3>Pinned notifications</h3>

      <mat-accordion>
        <mat-expansion-panel (closed)="closePanel(notification)" (opened)="openPanel(notification)" class="pinned" *ngFor="let notification of pinnedNotifications">
          <mat-expansion-panel-header *ngIf="notification.type === 'document'">
            <mat-panel-title>
              <mat-icon>insert_drive_file</mat-icon>
              <span *ngIf="!(notification.name.indexOf('to ') !== -1)" class="notification-title">New file</span>
              <span *ngIf="notification.name.indexOf('to ') > -1" class="notification-title">Sent file</span>
            </mat-panel-title>
            <mat-panel-description>
              <span *ngIf="!(notification.name.indexOf('to ') !== -1)" class="notification-title">{{notification.name}} want's to share document</span>
              <span *ngIf="notification.name.indexOf('to ') > -1" class="notification-title">You shared document {{notification.name}}</span>
            </mat-panel-description>
            <section class="notification-actions">
              <mat-icon (click)="hide(notification.id, $event)">done</mat-icon>
              <mat-icon (click)="unpin(notification.id, $event)" class="pin-button">notification_important</mat-icon>
            </section>
          </mat-expansion-panel-header>

          <mat-expansion-panel-header *ngIf="notification.type === 'message'">
            <mat-panel-title>
              <mat-icon>message</mat-icon>
              <span *ngIf="!(notification.name.indexOf('to ') !== -1)" class="notification-title">New message</span>
              <span *ngIf="notification.name.indexOf('to ') > -1" class="notification-title">Sent message</span>
            </mat-panel-title>
            <mat-panel-description>
              <span *ngIf="!(notification.name.indexOf('to ') !== -1)" class="notification-title">{{notification.name}} sent you a message</span>
              <span *ngIf="notification.name.indexOf('to ') > -1" class="notification-title">You sent a message {{notification.name}}</span>
            </mat-panel-description>
            <section class="notification-actions">
              <mat-icon (click)="hide(notification.id, $event)">done</mat-icon>
              <mat-icon (click)="unpin(notification.id, $event)" class="pin-button">notification_important</mat-icon>
            </section>
          </mat-expansion-panel-header>

          <mat-expansion-panel-header *ngIf="notification.type === 'email'">
            <mat-panel-title>
              <mat-icon>email</mat-icon>
              <span *ngIf="!(notification.name.indexOf('to ') !== -1)" class="notification-title">New email</span>
              <span *ngIf="notification.name.indexOf('to ') > -1" class="notification-title">Sent email</span>
            </mat-panel-title>
            <mat-panel-description>
              <span *ngIf="!(notification.name.indexOf('to ') !== -1)" class="notification-title">{{notification.name}} sent you an email</span>
              <span *ngIf="notification.name.indexOf('to ') > -1" class="notification-title">You sent an email {{notification.name}}</span>
            </mat-panel-description>
            <section class="notification-actions">
              <mat-icon (click)="hide(notification.id, $event)">done</mat-icon>
              <mat-icon (click)="unpin(notification.id, $event)" class="pin-button">notification_important</mat-icon>
            </section>
          </mat-expansion-panel-header>

          <mat-expansion-panel-header *ngIf="notification.type === 'event'">
            <mat-panel-title>
              <mat-icon>event</mat-icon>
              <span *ngIf="!isLive(notification.last_notif) || isDashboardDisabled" class="notification-title">Event incoming</span>
              <span *ngIf="isLive(notification.last_notif) && !isDashboardDisabled" class="notification-title event-live">Event LIVE</span>
            </mat-panel-title>
            <mat-panel-description>
            <span *ngIf="notification.type === 'event'" class="notification-title">
              {{notification.name}} at {{notification.last_notif*1000 | date: 'h:mm a'}}
            </span>
            </mat-panel-description>
            <section class="notification-actions">
              <mat-icon (click)="hide(notification.id, $event)">done</mat-icon>
              <mat-icon (click)="unpin(notification.id, $event)" class="pin-button">notification_important</mat-icon>
            </section>
          </mat-expansion-panel-header>

          <div *ngIf="notification.type === 'event'">
            <app-event [event]="event"></app-event>
          </div>
          <div *ngIf="notification.type === 'document' && document">
            <div class="panel-fixed-content-wrapper">
              <object *ngIf="document.document.path.toString().indexOf('.jpg') === -1"
                      [data]="document.document.path" type="application/pdf" width="100%" height="100%">
              </object>
              <img *ngIf="document.document.path.toString().indexOf('.jpg') > -1"  [src]="document.document.path" alt="" />
            </div>
          </div>
          <div *ngIf="notification.type === 'email' && emails.length > 0">
            <article *ngFor="let email of emails" class="email-container">
              <mat-chip-list>
                <mat-chip color="accent" selected="true">
                  {{email.name}}
                </mat-chip>
              </mat-chip-list>

              <p>Hello,</p>
              <p>{{email.text}}</p>

              <p>Best Regards</p>
              <p>{{email.name}}</p>
            </article>
          </div>
          <div *ngIf="notification.type === 'message' && message">
            <app-chat *ngIf="notification.id === message.id"
                      [chatId]="notification.id"
                      [messages]="messages">
            </app-chat>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>

    <mat-accordion>
      <h3>Notifications</h3>

      <mat-expansion-panel (closed)="closePanel(notification)" (opened)="openPanel(notification)" class="pinned" *ngFor="let notification of notifications">
        <mat-expansion-panel-header *ngIf="notification.type === 'document'">
          <mat-panel-title>
           <mat-icon>insert_drive_file</mat-icon>
            <span *ngIf="!(notification.name.indexOf('to ') !== -1)" class="notification-title">New file</span>
            <span *ngIf="notification.name.indexOf('to ') > -1" class="notification-title">Sent file</span>
          </mat-panel-title>
          <mat-panel-description>
            <span *ngIf="!(notification.name.indexOf('to ') !== -1)" class="notification-title">{{notification.name}} want's to share document</span>
            <span *ngIf="notification.name.indexOf('to ') > -1" class="notification-title">You shared document {{notification.name}}</span>
          </mat-panel-description>
          <section class="notification-actions">
            <mat-icon (click)="hide(notification.id, $event)">done</mat-icon>
            <mat-icon (click)="pin(notification.id, $event)" class="pin-button">notification_important</mat-icon>
          </section>
        </mat-expansion-panel-header>

        <mat-expansion-panel-header *ngIf="notification.type === 'message'">
          <mat-panel-title>
            <mat-icon>message</mat-icon>
            <span *ngIf="!(notification.name.indexOf('to ') !== -1)" class="notification-title">New message</span>
            <span *ngIf="notification.name.indexOf('to ') > -1" class="notification-title">Sent message</span>
          </mat-panel-title>
          <mat-panel-description>
            <span *ngIf="!(notification.name.indexOf('to ') !== -1)" class="notification-title">{{notification.name}} sent you a message</span>
            <span *ngIf="notification.name.indexOf('to ') > -1" class="notification-title">You sent a message {{notification.name}}</span>
          </mat-panel-description>
          <section class="notification-actions">
            <mat-icon (click)="hide(notification.id, $event)">done</mat-icon>
            <mat-icon (click)="pin(notification.id, $event)" class="pin-button">notification_important</mat-icon>
          </section>
        </mat-expansion-panel-header>

        <mat-expansion-panel-header *ngIf="notification.type === 'email'">
          <mat-panel-title>
            <mat-icon>email</mat-icon>
            <span *ngIf="!(notification.name.indexOf('to ') !== -1)" class="notification-title">New email</span>
            <span *ngIf="notification.name.indexOf('to ') > -1" class="notification-title">Sent email</span>
          </mat-panel-title>
          <mat-panel-description>
            <span *ngIf="!(notification.name.indexOf('to ') !== -1)" class="notification-title">{{notification.name}} sent you an email</span>
            <span *ngIf="notification.name.indexOf('to ') > -1" class="notification-title">You sent an email {{notification.name}}</span>
          </mat-panel-description>
          <section class="notification-actions">
            <mat-icon (click)="hide(notification.id, $event)">done</mat-icon>
            <mat-icon (click)="pin(notification.id, $event)" class="pin-button">notification_important</mat-icon>
          </section>
        </mat-expansion-panel-header>

        <mat-expansion-panel-header *ngIf="notification.type === 'event'">
          <mat-panel-title>
            <mat-icon>event</mat-icon>
            <span *ngIf="!isLive(notification.last_notif) && !isDashboardDisabled" class="notification-title">Event incoming</span>
            <span *ngIf="isLive(notification.last_notif) && !isDashboardDisabled" class="notification-title event-live">Event LIVE</span>
            <span *ngIf="isDashboardDisabled" class="notification-title">Event finished</span>
          </mat-panel-title>
          <mat-panel-description>
            <span *ngIf="notification.type === 'event'" class="notification-title">
              {{notification.name}} at {{notification.last_notif*1000 | date: 'h:mm a'}}
            </span>
          </mat-panel-description>
          <section class="notification-actions">
            <mat-icon (click)="hide(notification.id, $event)">done</mat-icon>
            <mat-icon (click)="pin(notification.id, $event)" class="pin-button">notification_important</mat-icon>
          </section>
        </mat-expansion-panel-header>

        <div *ngIf="notification.type === 'event'">
          <app-event [event]="event"></app-event>
        </div>
        <div *ngIf="notification.type === 'document' && document">
          <div class="panel-fixed-content-wrapper">
            <object *ngIf="document.document.path.toString().indexOf('.jpg') === -1"
                    [data]="document.document.path" type="application/pdf" width="100%" height="100%">
            </object>
            <img *ngIf="document.document.path.toString().indexOf('.jpg') > -1"  [src]="document.document.path" alt="" />
          </div>
        </div>
        <div *ngIf="notification.type === 'email' && emails.length > 0">
          <article *ngFor="let email of emails" class="email-container">
            <mat-chip-list>
              <mat-chip color="accent" selected="true">
                {{email.name}}
              </mat-chip>
            </mat-chip-list>

            <p>Hello,</p>
            <p>{{email.text}}</p>

            <p>Best Regards</p>
            <p>{{email.name}}</p>
          </article>
        </div>
        <div *ngIf="notification.type === 'message' && message">
          <app-chat *ngIf="notification.id === message.id"
                    [chatId]="notification.id"
                    [messages]="messages">
          </app-chat>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
