<mat-toolbar color="primary" class="app-toolbar">
  <button *ngIf="sidenav" mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="app-name">
    {{ 'SNACK' | translate }}
    <span class="version">v{{appVersion | async}}</span>
  </h1>

  <div class="language-picker">
    <mat-form-field>
      <mat-select [(value)]="language">
        <mat-option value="hr">
          Hrvatski
          <span class="flag-icon flag-icon-hr"></span>
        </mat-option>
        <mat-option value="en">
          English
          <span class="flag-icon flag-icon-en"></span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>
